<div class="card project-card m-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><a href="{{project.deployed_url}}" target="_blank">{{title}}</a></h5>
    <img class="mt-4" src="{{image_path}}=s320-c">
    <p class="card-text">{{description}}</p>
    <a href="{{repo_url}}" class="card-link">Repo</a>
    <a href="{{deployed_url}}">View App</a>
  </div>
</div>