<div class="card project-card m-3" style="width:18rem">
  <div class="card-body">
    <h5 class="card-title">{{project.title}}</h5>
    <img class="mt-4" src="{{project.image_path}}=s320-c">
    <p class="card-text">{{project.description}}</p>
    <a href="{{project.repo_url}}" class="card-link">Repo</a>
    <a href="{{project.deployed_url}}">View App</a>
  </div>
</div>